@font-face {
  font-family: "Disket-Mono-Regular";
  src: url(../../fonts/Disket-Mono-Regular.ttf);
}
@font-face {
  font-family: "Disket-Mono-Bold";
  src: url("../../fonts/Disket-Mono-Bold.ttf");
}

.nav {
  position: fixed;
  width: 100%;
  background-color: white;
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav .nav__home {
  font-family: "Disket-Mono-Bold";
  font-size: 30px;
  margin-left: 80px;
  text-decoration: none;
}

.nav .nav__items {
  font-family: "Disket-Mono-Regular";
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__items .nav__model,
.nav__items .nav__crews,
.nav__items .nav__bcaitech {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
