.nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid transparent;
}

.nav__bottom__border {
  border-bottom-color: rgba(0, 27, 55, 0.1);
}

.nav .nav__container {
  width: 100%;
  height: 100%;
  margin: auto;
  /* max-width: 1140px; */
}

.nav__container .nav__container__inner {
  width: 73%;
  height: 100%;
  /* max-width: calc(100% - 48px); */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.nav .nav__home__container {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.nav__home__container .nav__home {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 25px;
  width: 100px;
  color: #1b65da;
}

.nav__container__inner .nav__item__container {
  display: flex;
  overflow-y: hidden;
  max-height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.nav__item__container .nav__item {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 8px;
  font-weight: 400;
  font-size: 15px;
}

.nav__item > a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 10px;
  color: #4e5968;
  border-radius: 8px;
  border: 0;
}

.nav__item > a:hover {
  background-color: rgba(2, 32, 71, 0.05);
}
